.title{
	font-family: 'Righteous', cursive;
	text-align: center;
	font-size: 500%;
	color: #C63D0F;
}
.input{
	font-family: 'Baloo', cursive;
	width: 100%;
	padding: 12px 20px;
    	margin: 8px 0;
	box-sizing: border-box;
	background-color: #FDF3E7;
	color: #3B3738;
	font-size: 1.5em;

}
.footer {
  	font-family: 'Baloo', cursive;
 	 position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #FDF3E7;
  	text-align: center;
  	color:#3B3738;
}

body{

	background-color: #FDF3E7;
}
.button {
  	border-radius: 10px;
  	background-color: #c63d0f;
  	border: none;
  	color: #FDF3E7;
  	text-align: center;
  	font-size: 28px;
  	padding: 20px;
  	width: 200px;
  	transition: all 0.5s;
 	cursor: pointer;
  	margin: auto;
	font-family: 'Baloo', cursive;
	display: block;
}

.button span {
  	cursor: pointer;
  	display: inline-block;
	position: relative;
  	transition: 0.5s;
}

.button span:after {
  	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}

.button:hover span {
  	padding-right: 25px;
}

.button:hover span:after {
  	opacity: 1;
  	right: 0;
}

h2{
	font-family: 'Righteous', cursive;
	font-size: 250%;
	color: #3B3738;
	text-align: center;
}
