<!doctype html>
<html>
<head>
<link rel="stylesheet" href= "{{ url_for('static',filename='styles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Baloo|Righteous" rel="stylesheet">
<title>Morse Code Translator</title>
</head>
<body>
<div class="full">
<h1 class="title">Morse Code Translator</h1>
<form class="form" action="/translate" method="post">
  <div class="col-xs-8 col-md-10">
    <input id="command" type="text" name="text" placeholder="Enter text to translate..." class="input">
  </div>
  <p></p>
  <div class="wrapper">
    <input type="submit" value="Submit" class="button">
</div>
</form>
<h2>{{ cleanString }}</h2>
<footer class="footer">&copy Copyright 2017 Jake Bates</footer>
</div>
</body>
</html>
